*_canute.bat
Thumbs.db
__pycache__
*.pyc
tests/bom/
*.deps
*.log
*.html
bounds.json
options.json
times.txt
*_diff.png
*.echo
cmd_times.txt
*.gco
*.ngc
PCB/*/*-backups/
PCB/*/*.gbr
PCB/*/*.drl
PCB/*/*.pos
PCB/*/*.drl
PCB/*/*.step
PCB/*/*.xml
PCB/*/*.gbrjob
SVG
report.txt
fp-info-cache
